language: node_js

env:
  global:
    - LUAROCKS_VERSION=2.0.13
    - LUAROCKS_BASE=luarocks-$LUAROCKS_VERSION
  matrix:
    - LUA=lua5.2 LUA_DEV=liblua5.2-dev LUA_VER=5.2 LUA_SFX=5.2 LUA_INCDIR=/usr/include/lua5.2
    - LUA=luajit LUA_DEV=libluajit-5.1-dev LUA_VER=5.1 LUA_SFX=jit LUA_INCDIR=/usr/include/luajit-2.0

before_install:
  - if [ $LUA = "luajit" ]; then
      sudo add-apt-repository ppa:mwild1/ppa -y && sudo apt-get update -y;
    fi
  - sudo apt-get install $LUA
  - sudo apt-get install $LUA_DEV
  - sudo apt-get install -y libssl-dev
  - lua$LUA_SFX -v
  # Install a recent luarocks release
  - wget https://github.com/keplerproject/luarocks/archive/v$LUAROCKS_VERSION.tar.gz -O $LUAROCKS_BASE.tar.gz
  - tar zxvpf $LUAROCKS_BASE.tar.gz
  - cd $LUAROCKS_BASE
  - ./configure
    --lua-version=$LUA_VER --lua-suffix=$LUA_SFX --with-lua-include="$LUA_INCDIR"
  - sudo make
  - sudo make install
  - cd $TRAVIS_BUILD_DIR

install:
  - sudo apt-get install libev-dev
  - git clone http://github.com/brimworks/lua-ev
  - cd lua-ev && sudo luarocks make rockspec/lua-ev-scm-1.rockspec && cd ..
  - sudo luarocks install luacov-coveralls
  - sudo luarocks install lua_cliargs 2.3-3
  - sudo luarocks install busted 1.10.0-1
  - sudo luarocks install luasec OPENSSL_LIBDIR=/usr/lib/`gcc -print-multiarch`

script: "sudo luarocks make rockspecs/lua-websockets-scm-1.rockspec && ./test.sh"

after_success:
  - luacov-coveralls
